<!DOCTYPE html>
<html>
  <head>
    <title>EUnion</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<div class="row">

	  	<div class="col-md-3">
	  		<div class="card">
	  			<p>there is stuff that's going to go here!</p>
	  			<p>Button for a new Send Money transaction</p>
	  			<p>Button for Paying a Bill<p>
	  			<p>Button For Paying Out a transaction</p>
	  			<p>Button for Editing a Transaction</p>
	  		</div>
	  	</div>

	  	<div class="col-md-9">
		  	<div class=card>
		    	<%= yield %>
			</div>
		</div>
	</div>
  </body>
</html>